/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #009cf0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Registration page container */
.regpage {
    width: 50%;
    margin: 100px 200px 100px 200px;
    background: rgb(68, 255, 236);
    padding: 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(251, 247, 0);
    text-align: center;
    border: 4px,solid,rgb(244, 0, 0);
    border-radius: 30px;
}

/* Heading */
#reg {
    color: #333;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}